.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	margin: 0 auto;
	padding: 90px 0;
}

.article > h1,
.article > div:not(.titleDescription) {
	max-width: min(100%, var(--container-width));
}

.titleDescription {
	width: 684px;
	max-width: 100%;
}

.bodyText {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
	max-width: var(--container-width);
}

.image {
	width: var(--image-width);
	max-width: 100%;
	height: 1000px;
	margin-top: 26px;
	object-fit: cover;
}
